@import "./../themes/current/waybar.css";

* {
  background-color: @background;
  color: @foreground;

  border: none;
  border-radius: 0;
  min-height: 0;
  font-family: JetBrains Mono;
  font-size: 24px;
}

.modules-left {
  margin-left: 8px;
}

.modules-right {
  margin-right: 8px;
}

#workspaces button {
  all: initial;
  padding: 0 12px;
  margin: 0 1.5px;
  min-width: 9px;
}

#workspaces button.empty {
  opacity: 0.5;
}

#tray,
#cpu,
#network,
#bluetooth,
#pulseaudio,
#clock {
  min-width: 12px;
  margin: 0 12px;
}